@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

:root {
  font-family: 'Poppins', sans-serif;
  --color-primary: #E36867;
  --color-secondary: #e8a4a4;
  --color-dark:#28282B;

  --color-bg: linear-gradient(to bottom, #a7e6ff, #F4FBFF);
  --color-text: #28282B;
}

html.dark {
  --color-bg: linear-gradient(to bottom, #0A091E, #7354a0);
  --color-text: #F4FBFF;
}

@keyframes slow-bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); } /* adjust height */
}

.animate-slow-bounce {
  animation: slow-bounce 3s ease-in-out infinite; /* 4s = slower */
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.text-secondary {
  color: var(--color-secondary);
}
.text-primary {
  color: var(--color-primary);
}

.bg-dark {
  background-color: var(--color-dark);
}

.text-dark {
  color: var(--color-dark);
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-bg);
}

div#nav-links a {
  color:#28282B;
}
div#nav-links a:hover {
  color:#E36867;
}

div h1 {
  color:#28282B;
}
div#about p {
  color:#28282B;
}

div#intro p {
  color:#28282B;
  font-size: 24px;
}

div#proj p {
  font-size: 18px;
  color:#717171;
}

h1 {
  color:#28282B
}